# Environments
.venv/
env/
__pycache__/
*.py[cod]
.python-version

# Datasets & Heavy files
datasets/
recordings/
*.zip
*.wav
*.mp3
*.flac
*.ogg
*.mid

# IDEs & OS
.DS_Store
.vscode/
.idea/

# Evaluation outputs and plots
/*.png
/*.csv